.body {
  height: 73.6318407960199vh;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.content {
  width: 75%;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  width: 60.863%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.welcome {
  font-family: var(--secondary-font);
  color: var(--color-lightn);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 20px;
  align-self: flex-start;
}

.h1 {
  align-self: flex-start;
  font-family: var(--secondary-font);
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 22px;
}

.myName {
  color: var(--red-color);
}

.profession {
  font-size: 48px;
  display: block;
}

.bio {
  line-height: 30px;
  padding-right: 16%;
  opacity: 0.9;
  font-size: 16px;
  color: var(--color-lightn);
}

.lowerLeft {
  padding-top: 12%;
  display: flex;
}

.connect {
  width: 50%;
}

.skill {
  width: 50%;
}

.title {
  text-transform: uppercase;
  color: var(--color-lightn);
  letter-spacing: 2px;
  font-weight: 300;
}

.platforms {
  display: flex;
  padding: 1rem 0;
  gap: 1.4rem;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 38.469%;
  height: inherit;
  justify-content: center;
  padding: 1rem;
}

.imgDiv {
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  height: 80%;
  align-self: flex-end;
  border-radius: 6px;
}

.imgDiv img {
  height: 110%;
  margin-top: -12.3%;
}

@media only screen and (max-width: 1200px) {
  .body {
    height: 100% !important;
    display: block;
    padding-top: 2rem;
  }
  .content {
    width: 100%;
    min-width: 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .rightSide {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .leftSide {
    height: fit-content;
    width: 100%;
  }
}
