.header {
  height: 98px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  backdrop-filter: blur(15px);
  box-shadow: 0 3px 15px -9px black;
}

.navBar {
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  width: 100%;
}

.pictureSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imageContainer {
  height: 100%;
  border-radius: 50%;
  border-width: 2px;
  border-color: #2e3337;
}

.imageContainer img {
  height: 62px;
  width: 62px;
  vertical-align: middle;
  border-radius: 50%;
  object-fit: contain;
  scale: 1.7;
}

.eddyBruv {
  font-family: var(--secondary-font);
  color: var(--header-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.rightSide {
  display: flex;
  align-items: center;
  justify-items: space-between;
  gap: 3rem;
}

.navigation {
  display: flex;
  align-items: center;
}

.linkContainer {
  display: flex;
  gap: 2.5rem;
}

.navListItems {
  transition: color 1s;
}

.navLinks {
  padding: 0.5rem 0.7rem;
  text-transform: uppercase;
  font-weight: 200;
  font-family: var(--secondary-font);
  text-decoration: none;
}

.navListItems:hover {
  color: var(--red-color) !important;
}

.button {
  background: var(--background-color-1);
  color: var(--red-color);
  text-transform: uppercase;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  opacity: 1;
  font-size: 13px;
  transition: all 0.5s;
  box-shadow: var(--shadow-1);
}

.button:hover {
  background: var(--color-dark);
  transform: translateY(-7px);
}

@media only screen and (max-width: 1300px) {
  .navigation {
    display: none;
  }
}
