@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --red-color: #ff014f;
  --color-lightn: #c4cfde;
  --color-dark: #1a1d23;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: var(--primary-font);
}

body {
  background-color: #212428;
  width: 100vw;
  /* height: 300vh; */
}
